html * {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

body {
  background-color: #272727;
}

.text-white {
  color: #ffffff;
}

.container-fluid {
  padding: 0 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../assets/images/Starfield_LargeHero_Showcase.webp");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-position: bottom center;
}
.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #ffffff;
  background: transparent;
}
.hero nav .menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.hero nav .top-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.hero nav .top-menu a {
  color: #9d9ea0;
  font-weight: 500;
  transition: all ease 300ms;
}
.hero nav .top-menu a:hover {
  color: #ffffff;
}
.hero nav .menu-with-search {
  display: flex;
  justify-content: center;
  gap: 17px;
  background-color: rgba(41, 50, 55, 0.8274509804);
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
}
.hero nav .menu-with-search .parent-name {
  padding: 0 8px 0 10px;
}
.hero nav .menu-with-search .menu-item {
  display: block;
  padding: 10px;
}
.hero nav .menu-with-search .menu-item a {
  cursor: pointer;
}
.hero nav .menu-with-search .parent {
  display: flex;
  align-items: center;
}
.hero nav .menu-with-search .parent i {
  font-size: 16px;
}
.hero nav .menu-with-search .parent .fa-chevron-down {
  font-size: 10px;
  padding-top: 5px;
  color: #9d9ea0;
}
.hero nav .menu-with-search .parent img {
  max-width: 20px;
}
.hero nav .menu-with-search .submenu {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.281);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  top: 125%;
  left: 0;
}
.hero nav .menu-with-search .submenu img {
  max-width: 30px;
}
.hero .hero-body {
  padding: 80px 0 120px;
}
.hero .badge {
  background: #3b4146;
  display: inline-block;
  padding: 5px 12px;
  color: #e4e4e4;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 6px;
}
.hero h1.heading {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  max-width: 600px;
  margin: 13px 0 22px;
  line-height: 1.1em;
}
@media (max-width: 960px) {
  .hero h1.heading {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
}
@media (max-width: 720px) {
  .hero h1.heading {
    font-size: 2rem;
    line-height: 1.2em;
  }
}
.hero .discounted-price {
  font-weight: 400;
  font-size: 3.3rem;
  line-height: 1em;
  margin-top: -5px;
}

.percent-badge {
  background-color: #ff5400;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  padding: 6px 10px;
  z-index: 2;
  position: relative;
}
.percent-badge::after {
  background-color: #ff5400;
  transform: skew(16deg);
  width: 100%;
  border-radius: 6px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4px;
  z-index: -1;
}