$hero-bg: "./images/Starfield_LargeHero_Showcase.webp";

$badge-color: #3b4146;

$primary: #ff5400;
$secondary: #ff7507;
$white: #ffffff;

$border-radius: 6px;

$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"white": $white,
);
