@import "mixin";
@import "var";

html * {
	margin: 0;
	padding: 0;
	font-family: "Barlow", sans-serif;
}
body {
	background-color: #272727;
}

@import "colors";
@import "breakpoints";
@import "utility";
@import "grid";
@import "components/hero/hero";
@import "components/percentBadge";
