@import "mixin";
@import "var";
@import "colors";
@import "breakpoints";
@import "utility";
@import "grid";
@import "components/hero/hero";
@import "components/hero/early-access-btn";
@import "components/percentBadge";
@import "components/card";

html * {
	margin: 0;
	padding: 0;
	font-family: "Barlow", sans-serif;
	text-decoration: none;
}
body {
	background-color: #272727;
}
.overlay {
	background-color: #10101072;
	position: fixed;
	inset: 0;
	z-index: 3;
	display: none;
}
.overlay.show {
	display: block;
}
.trending {
	margin-bottom: 30px;
	.sec-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #ffffff;
		margin-top: 2px;
		margin-bottom: 16px;
		h2 {
			font-weight: 500;
			font-size: 2rem;

			@include xs {
				font-size: 1.4rem;
			}
			@include sm {
				font-size: 1.7rem;
			}
			@include md {
				font-size: 2rem;
			}
		}
		a.view-all {
			border: 1px solid #5a5a5a;
			border-radius: $border-radius;
			color: #ffffff;
			font-weight: 600;
			padding: 10px 18px;
			background-color: #ffffff14;
			@include xs {
				font-size: 0.8rem;
			}
		}
	}
}
