.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url($hero-bg);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
	background-position: center center;

	nav {
		padding: 10px 20px;
	}
	.hero-body {
		padding: 80px 0 120px;
	}
	.badge {
		background: $badge-color;
		display: inline-block;
		padding: 5px 12px;
		color: #e4e4e4;
		font-weight: 700;
		font-size: 0.9rem;
		border-radius: $border-radius;
	}
	h1.heading {
		color: white;
		font-weight: 500;
		font-size: 3rem;
		max-width: 600px;
		margin: 13px 0 22px;
		line-height: 1.1em;

		@include lg {
			font-size: 2.5rem;
			line-height: 1.2em;
		}
		@include md {
			font-size: 2rem;
			line-height: 1.2em;
		}
	}
	.discounted-price {
		font-weight: 400;
		font-size: 3.3rem;
		line-height: 1em;
		margin-top: -5px;
	}
}
