nav {
	display: flex;
	// align-items: center;
	justify-content: space-between;
	padding: 15px 0px;
	color: #ffffff;
	background: transparent;

	.menu {
		display: flex;
		flex-direction: column;
		gap: 18px;
		justify-content: center;
	}

	.top-menu {
		display: flex;
		justify-content: center;
		gap: 30px;

		a {
			color: #9d9ea0;
			font-weight: 500;
			transition: all ease 300ms;

			&:hover {
				color: #ffffff;
			}
		}
	}
	.menu-with-search {
		// @include flex(25px);
		display: flex;
		justify-content: center;
		gap: 17px;

		// backdrop-filter: blur(3px);
		background-color: #293237d3;
		padding: 10px 20px;
		border-radius: 50px;
		position: relative;

		.parent-name {
			padding: 0 8px 0 10px;
		}

		.menu-item {
			display: block;
			padding: 10px;
			a {
				cursor: pointer;
			}
		}

		.parent {
			display: flex;
			align-items: center;
			i {
				font-size: 16px;
			}
			.fa-chevron-down {
				font-size: 10px;
				padding-top: 5px;
				color: #9d9ea0;
			}
			img {
				max-width: 20px;
			}
		}
		.search {
		}

		.submenu {
			position: absolute;
			width: 100%;
			backdrop-filter: blur(8px);
			background-color: rgba(255, 255, 255, 0.281);
			padding: 20px;
			box-sizing: border-box;
			border-radius: $border-radius;
			top: 125%;
			left: 0;
			display: none;
			transition: all ease 300ms;

			.child {
				@include flex(10px);
				border-radius: 50px;
				padding: 5px;
				background-color: rgba(255, 255, 255, 0);
				transition: all ease 300ms;

				&:hover {
					background-color: rgba(255, 255, 255, 0.196);
				}
				img {
					max-width: 40px;
				}
			}
		}
	}

	a.not-active * {
		color: #747573 !important;
	}
	.search a * {
		color: #ffffff !important;
	}
}
